<!DOCTYPE html>
<html>
<head>
	<title>Express MVC</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
	<body>
		<h1>Sign up confirm successfully</h1>
		<p>Welcome to Express MVC</p>
	</body>
</html>
